<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <div class = "title">Keyword Analysis</div>
        <div class = "description">
            <ul>
                <li>* 단어는 띄어쓰기로 인식이 됩니다.</li>
                <li>* 두 글자 이상 단어만 인식합니다.</li>
                <li>* 5000자 이하의 텍스트를 입력해주세요.</li>
            </ul>
        </div>
    </header>
    <div class = "result"></div>
    <div class = 'inputArea'>
        <textarea class ="content" style="ime-mode:disabled" rows="15" cols="90">
            How many roads must a man walk down
            Before you call him a man?
            How many seas must a white dove sail
            Before she sleeps in the sand?
            Yes, 'n' how many times must the cannon balls fly
            Before they're forever banned?
            The answer, my friend, is blowin' in the wind
            The answer is blowin' in the wind
            Yes, 'n' how many years can a mountain exist
            Before it's washed to the sea?
            Yes, 'n' how many years can some people exist
            Before they're allowed to be free?
            Yes, 'n' how many times can a man turn his head
            And pretend that he just doesn't see?
            The answer, my friend, is blowin' in the wind
            The answer is blowin' in the wind
            Yes, 'n' how many times must a man look up
            Before he can see the sky?
            Yes, 'n' how many ears must one man have
            Before he can hear people cry?
            Yes, 'n' how many deaths will it take till he knows
            That too many people have died?
            The answer, my friend, is blowin' in the wind
            The answer is blowin' in the wind
        </textarea>
    </div>
    <div class = "space"></div>
</body>
</html>
