<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Tinos:700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <div class = 'title'> Keyword Analysis </div>
        <div class = 'inputArea'>
            <textarea class ='content'>
                DISILLUSIONMENT
                The end of history has been postponed
                Humans think in stories rather than in facts, numbers or equations,
                and the simpler the story, the better. Every person, group
                and nation has its own tales and myths. But during the twentieth
                century the global elites in New York, London, Berlin and
                Moscow formulated three grand stories that claimed to explain
                the whole past and to predict the future of the entire world:
                the fascist story, the communist story, and the liberal story. The
                Second World War knocked out the fascist story, and from the
                late 1940s to the late 1980s the world became a battleground
                between just two stories: communism and liberalism. Then the
                communist story collapsed, and the liberal story remained the
                dominant guide to the human past and the indispensable manual
                for the future of the world – or so it seemed to the global
                elite.
                The liberal story celebrates the value and power of liberty. It
                says that for thousands of years humankind lived under oppressive
                regimes which allowed people few political rights, economic
                opportunities or personal liberties, and which heavily restricted
                the movements of individuals, ideas and goods. But people fought
                for their freedom, and step by step, liberty gained ground. Democratic
                regimes took the place of brutal dictatorships. Free enterprise
                overcame economic restrictions. People learned to think
                for themselves and follow their hearts, instead of blindly obeying
                bigoted priests and hidebound traditions. Open roads, stout.
                21 LESSONS
                bridges and bustling airports replaced walls, moats and barbedwire
                fences.
                The liberal story acknowledges that not all is well in the world,
                and that there are still many hurdles to overcome. Much of our
                planet is dominated by tyrants, and even in the most liberal countries
                many citizens suffer from poverty, violence and oppression.
                But at least we know what we need to do in order to overcome
                these problems: give people more liberty. We need to protect
                human rights, to grant everybody the vote, to establish free markets,
                and to let individuals, ideas and goods move throughout
                the world as easily as possible. According to this liberal panacea
                – accepted, in slight variations, by George W. Bush and Barack
                Obama alike – if we just continue to liberalise and globalise our
                political and economic systems, we will produce peace and prosperity
                for all.
                Countries that join this unstoppable march of progress will
                be rewarded with peace and prosperity sooner. Countries that
                try to resist the inevitable will suffer the consequences, until they
                too see the light, open their borders and liberalise their societies,
                their politics and their markets. It may take time, but eventually
                even North Korea, Iraq and El Salvador will look like Denmark
                or Iowa.
            </textarea>
        </div>
    </header>
    <div class = 'textCount'></div>
    <div class = 'resultBox'>
        <div class = 'result'>
            <div class = 'superHighArea'></div>
        </div>
    </div>
    <div class = 'notice'> Click five keywords you like </div>
    <div class = 'newWordBox'></div>
    <div class = 'writingFunction'>
        <div class = 'writingArea'>
            <div class = 'favoriteWord'></div>
            <textarea class = 'newSentence'></textarea>
        </div>
        <div class ="completeBox">
            <button class = "complete"> Sentence Compelete </button>
        </div>
    </div>
    <div class = "space"></div>
</body>
</html>
