<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <div class = "title">Keyword Analysis</div>
        <div class = 'inputArea'>
            <textarea class ="content" style="ime-mode:disabled">
                “It takes a lot of courage to fight biases and oppressive regimes, but it takes even greater courage to admit ignorance and venture into the unknown. Secular education teaches us that if we don’t know something, we shouldn’t be afraid of acknowledging our ignorance and looking for new evidence. Even if we think we know something, we shouldn’t be afraid of doubting our opinions and checking ourselves again. Many people are afraid of the unknown, and want clear-cut answers for every question. Fear of the unknown can paralyse us more than any tyrant. People throughout history worried that unless we put all our faith in some set of absolute answers, human society will crumble. In fact, modern history has demonstrated that a society of courageous people willing to admit ignorance and raise difficult questions is usually not just more prosperous but also more peaceful than societies in which everyone must unquestioningly accept a single answer. People afraid of losing their truth tend to be more violent than people who are used to looking at the world from several different viewpoints. Questions you cannot answer are usually far better for you than answers you cannot question.” 
― Yuval Noah Harari, 21 Lessons for the 21st Century
            </textarea>
        </div>
    </header>
    <div class = "result"></div>
    <div class="notice">Click five keywords you like!</div>
    <div class="newWordBox"></div>
    <div class ="writingArea">
        <div class = "favoriteWord"></div>
        <textarea class ="newSentence" style="ime-mode:disabled"></textarea>
    </div>
    <div class="completeBox">
        <button class= "complete">Sentence Compete!</button>
    </div>
    <div class = "space"></div>
</body>
</html>
