// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    background-color: rgb(250, 251, 252);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.title {
    font-family: 'Josefin Slab', serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 10px;
    font-size: 55px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 500px;
}

.inputArea {
    text-align: center;
    font-family: "Merriweather", "Georgia", serif;
}

.content[type=text] {
    -webkit-ime-mode:disabled;
    -moz-ime-mode:disabled;
    -ms-ime-mode:disabled;
    ime-mode:disabled;
}

.content {
    width: 600px;
    height: 150px;
    padding: 10px;
    border: solid 2px rgb(128, 128, 128);
    border-radius: 5px;
    font-size: 16px;
    vertical-align: center;
}

.result div {
    cursor: pointer;
    display: inline-block;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    text-align: center;
    vertical-align: center;
}

.result div:hover {
    color: darkorange;
}

.low {
    font-size: 20px;
    font-weight: 600;
    color: darkkhaki;
}

.middle {
    font-size: 25px;
    font-weight: 600;
    color: darkolivegreen;
}

.high {
    font-size: 30px;
    font-weight: 700;
    color: darkgoldenrod;
}

.superHigh {
    font-size: 45px;
    font-weight: 700;
    color: gold;
}

.result div span {
    visibility: hidden;
}

.result div:hover span {
    position: relative;
    visibility: visible;
    vertical-align: middle;
    top: 10px;
    left: 10px;
    padding: 7px;
    background-color: darkslategray;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    transition-delay: 0.2s;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    place-items: center center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.description {
    width: 340px;
    font-size: 16px;
    vertical-align: center;
}

.description ul {
   padding: 5px;
   vertical-align: center;
   margin-top: 30px;
   margin-bottom: 30px;
}

.description li {
    padding: 5px;
    list-style: none;
}

.space {
    height: 650px;
}

.result {
    text-align: center;
    margin : 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    place-items: center middle;
}

.notice {
    display: none;
    background-color: olivedrab;
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.like {
    transform : translateY(600px);
    color: sandybrown;
    font-size: 35px;
    transition: transform 0.5s ease-in;
    display: inline-block;
}

.newWordBox {
    width: 800px;
    margin: 50px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: rgb(231, 231, 212);
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 1px grey;
}

.newWordBox div {
    cursor: pointer;
}

.newWordBox span {
    display: none;
}

.like span{
    display: none;
}

.newSentence {
    display: none;
    width: 600px;
    height: 150px;
    padding: 10px;
    border: solid 2px rgb(128, 128, 128);
    border-radius: 5px;
    background-color: darkslategrey;
    font-size: 20px;
    margin: 100px auto;
    cursor: white;
    color: whitesmoke;
}
